body{
    font-family: sans-serif;
}
.card{
    background-image: url(./new.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;

    border-radius: 20px;
    overflow: hidden;
}

/* .top{
    padding-top: 300x;
} */
.pokemon-pic img{
    /* background-color: black; */
    width: 180px;
    height: 180px;
    margin-left: 25%;
    text-align: center;
    border-radius: 50%; 
    /*  margin-top: 10%; */
    
    
}
.pokemon-info{
    font-size: 21px;
    color: gold;
    /* margin-left: 100px; */
    /* margin-top: 20px; */
    text-align: center;
    text-transform: uppercase;
    /* padding-bottom: 30px; */
}

.full{
    background-image: url(./pngegg.png);
    width: 23%;
}
.all{
    width: 25%;
    border:5px solid gold;

}
.next-prev{
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-left: 10px;
    padding: 5% 5%;
}
.button{
    width: 50%;
 background: rgba( 255, 255, 255, 0.95 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20.0px );
-webkit-backdrop-filter: blur( 20.0px );
border-radius: ;
border: 1px solid rgba( 255, 255, 255, 0.18 );  
}
.name{
    margin-left: 30%;
    margin-bottom: ;
    font-size: 35px;
    color: gold;
}
.dex{
    width: 200px;
    height: 80px;
    margin-left: 80px;
}
.ball{
    width: 30px;
    height: 30px;
    margin-bottom: 19px;
    margin-left: 3px;
}
.number{
    font-size: 30px;
    width: 5%;
    position: absolute;
    top:2.5%;
    margin-left: 15px;
    text-align: center
}
.bottom{
    background-color: ;
}

@media (max-width: 1400px) {
    .full{
        width:100%;
    }
    .pokemon-info{
        width: 100%;
        padding-bottom: 100px;
    }
    .pokemon-pic{
        width:100%;
        
    }
    .card{
        width: 100%;
    }
}
